<div class="container">
  <section class="checkout">
    <app-ticket-item
      [eventName]="'Competicao bolinha'"
      [(quantity)]="parentQuantity"
      (cancel)="isCanceled($event)"
      (confirm)="addTicket()"
      ;
    />

    <p class="status">Status: {{ status() }}</p>
    <p class="total">Valor total: R$ {{ parentQuantity() * 150 }}</p>

    @if (tickets().length > 2) {
      <div class="gift">🎁 Você ganhou um brinde!</div>
    }
  </section>

  <aside class="tickets">
    <ul>
      @for (ticket of tickets(); track ticket.id) {
        <li
          class="ticket-card"
          [ngClass]="{
            'ingresso-destaque': ticket.type == 'vip',
          }"
        >
          <div class="ticket-header">
            <h3>{{ ticket.name }}</h3>

            <span class="badge" [ngClass]="ticket.type">
              @switch (ticket.type) {
                @case ('vip') {
                  VIP - Acesso total
                }
                @case ('meia') {
                  MEIA - Obrigatório carteirinha
                }
                @default {
                  STANDARD - Acesso padrão
                }
              }
            </span>
          </div>

          <p class="description">
            {{ ticket.description | resumo }}
          </p>

          <div class="ticket-footer">
            <span class="price">
              {{ ticket.price | currency: 'BRL' }}
            </span>

            <span class="date">
              {{ ticket.data | date: 'dd/MM/yyyy HH:mm' }}
            </span>
          </div>

          <div class="lotacao">
            <div
              class="barra"
              [style.width.%]="ticket.lotePercentual"
              [style.backgroundColor]="ticket.lotePercentual < 20 ? 'red' : 'green'"
            ></div>
          </div>
        </li>
      } @empty {
        <li class="empty">Nenhum ingresso disponível</li>
      }
    </ul>
  </aside>
</div>
